<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.3.xsd ">

	<!-- 注解开发 -->
	<!-- 开启组件扫描 base-package 扫描该包下以及子包的所有注解   -->
 	<context:component-scan base-package="com.lmj.bean"/>  
	
	<!-- 将pet对象交给spring容器管理 -->
 	<bean name="dog" class="com.lmj.bean.Pet">
		<property name="petType" value="二哈"/>
		<property name="color" value="灰白"/>
	</bean>  
	
</beans>
